<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xk3y.dongle.android"
    android:versionCode="8"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- Required permission to use Google Play Store donations -->
	<uses-permission android:name="com.android.vending.BILLING" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="Xk3y4AndroidApplication">
                
        <activity android:name=".Xk3y4AndroidActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ihm.theme.ListGamesActivity"
		    android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
			</intent-filter>
		</activity>
		<activity android:name=".ihm.theme.CoverFlowGamesActivity"
		    android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
			</intent-filter>
		</activity>
		<activity android:name=".ihm.GameDetailsActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
			</intent-filter>
		</activity>
		<activity android:name=".ihm.SettingsActivity"
		    android:windowSoftInputMode="stateHidden">"
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
			</intent-filter>
		</activity>
		<activity
		    android:name="org.donations.DonationsActivity"
		    android:excludeFromRecents="true"
		    android:label="Donations"
		    android:launchMode="singleTask"
		    android:theme="@android:style/Theme.Dialog" />
		
		<!-- - Google Play Store donations -->
		<service android:name="org.donations.google.BillingService" />
		
		<receiver android:name="org.donations.google.BillingReceiver" >
		    <intent-filter>
		        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
		        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
		        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
		    </intent-filter>
		</receiver>
		 <!--  WIDGET DECLARATION -->
		 <receiver android:name=".widget.type1x4.XkeyWidgetProvider" >
	         <intent-filter >
	             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	         </intent-filter>
	         <meta-data android:name="android.appwidget.provider" android:resource="@xml/xkeywidget_1x4" />
	     </receiver>
	     <receiver android:name=".widget.type1x4.XkeyWidgetIntentReceiver"  android:label="widgetBroadcastReceiver" >
			 <intent-filter>
			      <action android:name="xk3y.dongle.android.action.1x4.PREV_GAME" />
				<action android:name="xk3y.dongle.android.action.1x4.NEXT_GAME" />
				<action android:name="xk3y.dongle.android.action.1x4.PLAY_GAME" />
				<action android:name="xk3y.dongle.android.action.1x4.RELOAD_GAME" />
			 </intent-filter>
		 	<meta-data android:name="android.appwidget.provider"  android:resource="@xml/xkeywidget_1x4" />
		</receiver>
		
	     <receiver android:name=".widget.type2x4.XkeyWidgetProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xkeywidget_2x4" />
        </receiver>
        <receiver
		    android:name=".widget.type2x4.XkeyWidgetIntentReceiver"
		    android:label="widgetBroadcastReceiver" >
		    <intent-filter>
		        <action android:name="xk3y.dongle.android.action.2x4.PREV_GAME" />
				<action android:name="xk3y.dongle.android.action.2x4.NEXT_GAME" />
				<action android:name="xk3y.dongle.android.action.2x4.PLAY_GAME" />
				<action android:name="xk3y.dongle.android.action.2x4.RELOAD_GAME" />
		    </intent-filter>
		
		    <meta-data
		        android:name="android.appwidget.provider"
		        android:resource="@xml/xkeywidget_2x4" />
		</receiver>
		<receiver android:name=".widget.type4x4.XkeyWidgetProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xkeywidget_4x4" />
        </receiver>
        <receiver
		    android:name=".widget.type4x4.XkeyWidgetIntentReceiver"
		    android:label="widgetBroadcastReceiver" >
		    <intent-filter>
		        <action android:name="xk3y.dongle.android.action.4x4.PREV_GAME" />
				<action android:name="xk3y.dongle.android.action.4x4.NEXT_GAME" />
				<action android:name="xk3y.dongle.android.action.4x4.PLAY_GAME" />
				<action android:name="xk3y.dongle.android.action.4x4.RELOAD_GAME" />
		    </intent-filter>
		
		    <meta-data
		        android:name="android.appwidget.provider"
		        android:resource="@xml/xkeywidget_4x4" />
		</receiver>
	     
    </application>

	
</manifest>